
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-top {
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    padding: 40px;
}

.post-content {
    white-space: pre-wrap;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-xs {
    margin-bottom: 10px;
}
.m-b-sm {
    margin-bottom: 20px;
}
.m-b-md {
    margin-bottom: 30px;
}

.m-t-xs {
    margin-top: 10px;
}
.m-t-sm {
    margin-top: 20px;
}
.m-t-md {
    margin-top: 30px;
}
.m-t-lg {
    margin-top: 50px;
}
.m-t-xl {
    margin-top: 100px;
}

.f-sm {
    font-size: smaller;
}
